doctype html
html
  head
    title BackboneApp
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/lib/underscore.js')
    script(src='/javascripts/lib/jquery.js')
    script(src='/javascripts/lib/backbone.js')
    script(src='/javascripts/lib/handlebars.js')
    script(src='/javascripts/client.js')
    script(src='/javascripts/init.js')
  body
    h1 Backbone App


    .app

    script(id="book-template",type="text/x-handlebars-template")
      {{name}} by <span>{{author}}</span>
